
ul#menu {
	
	z-index:2;
	background-color:#c48c83;
	position:sticky;
	top:0;
	list-style-type: none; 
	opacity:0.7;
	transition: opacity 0.3s linear;
	box-shadow:0px 8px 16px 0px rgba(0,0,0,0.4);
}	






ul#menu:hover {
	opacity:1;
}

ul#menu > li {
	display:inline-block;
	transition:0.3s all linear;
}

ul#menu > li > a {
	font-size:1.35rem;
	text-decoration:none;
	padding:18px 20px;
	color:white;
	display:block;
	
	transition: 0.5s all;
}

ul#menu > li:hover {
	background-color:white;
}

ul#menu > li:hover > a {
	color:#c48c83;
}

ul#menu > li#drop {
	float:right;
}

ul#menu > li#drop:hover ul#drop-menu {
	display:block;
}

ul#menu > li#myAccount {
	float:right;
}

ul#drop-menu {
	list-style-type:none;
	display:none;
	position:absolute;
	background-color:white;
	right:0;
	box-shadow:0px 8px 16px 0px rgba(0,0,0,0.4);
}
ul#drop-menu > li {
	display:block;
	transition:0.3s all linear;
}
ul#drop-menu > li > a {
	display:block;
	color:#c48c83;
	padding:14px 16px;
	text-decoration:none;
	text-align:center;
	transition:0.3s all linear;
}

ul#drop-menu > li:hover {
	background-color:#c48c83;
}
ul#drop-menu > li:hover > a{
	color:white;
}


@media only screen and (max-width:765px) {
	ul#menu > li > a {
		font-size:1rem;
	}
}