ul#menu {
	overflow:hidden;
	transition:0.3s all linear;
	opacity:0.7;
	background-color:white;
	z-index:1;
	width:100%;
	display:block;
	position:sticky;
	top:0;
	border-bottom:1px solid black;
	list-style-type:none;
}

ul#menu:hover {
	opacity:1;
}

ul#menu>li {
	transition:0.75s all linear;
	
	float:left;
	text-align:center;
	border-right:2px solid white;
	display:block;
}

ul#menu>li:last-child {
	float:right;
	border-right:none;
	border-left:2px solid white;
}

ul#menu>li:hover {
	cursor:pointer;
	background-color:#6b90ff;
}
ul#menu>li:hover>a {
	color:white;
}

ul#menu>li>a {
	display:block;
	transition:0.75s all linear;
	text-decoration:none;
	color:#6b90ff;
	width:100%;
	height:100%;
	padding:14px 16px;
}


a {
	-webkit-tap-highlight-color: transparent;
}