@import "menu.css";
@import "footer.css";
@import "login.css";
@import "scrollbar.css";
@import "universal.css";

html {
	height:100%;
}

body {

	position:relative;
	background-image:url('/img/register.jpg');
	background-position: center;
  	background-repeat: no-repeat; 
  	background-size: cover;
  	
}


div#contentWrap {
	background-image:url('/img/register_blur.jpg');
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;

}

div.registerForm {
    position: relative;
    left: 50%;
    /* top: 50%; */
    transform: translate(-50%,-0%);
	background-image:url('/img/register.jpg');
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
    border: 1px solid black;
    width: 80%;
    border-radius:12px;
    /* margin-top: 100px; */
    /* margin-bottom: 100px; */
    padding: 15px;
}

div.registerForm > p { 
	font-size:1.4rem;
	text-align:center;
	margin:10px;
	color:white;
	text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

div.registerForm > label {
	font-weight: bold;
	/*color:#74d420;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
}

div.registerForm > label > input[type='text'], div.registerForm > label > input[type='password'] {
	width:100%;
	margin-bottom:10px;
}

button.submitButton {
    border-color: #78de62;

    background-image: linear-gradient(90deg, #78de62 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
 
    transition: all 0.3s linear;


    display:block;
    position:relative;
    transform:translate(-50%);
    left:50%;

    padding:14px 16px;
    color:#78de62;

    border-radius:12px;
    outline:none;
}

button.submitButton:hover {
	background-position: 0;
	color:white;
	cursor:pointer;
}

span.warning {
	display:block;
	font-size:0.8rem;
	margin-bottom:5px;
	color:red;
	font-weight: bold;
	text-align: left;
}
span#submitWarning {
	margin-top:5px;
	text-align:center;
	font-weight: bold;
}

@media only screen  and (max-width:760px) {

	div.registerForm {
		width:90%;
		margin-top:25px;
		margin-bottom:25px;
	}
	body {
		background-image:url('/img/register_phone.jpg');
	}
}
