<!DOCTYPE html>
<html>
<head>
	<%-include('../pieces/head-content.ejs') %>
	<link rel ='stylesheet' type ='text/css' href = '/css/404-style.css'/>
</head>
<body id = 'body'>
	<div id = 'pageContainer'>
		<div id = 'contentWrap'>
			<%-include('../pieces/menu.ejs') %>
			<img src='/img/nomemory.gif'/>
			<h1> Sorry, but you might be looking for something else... </h1>
		</div>
		<%-include('../pieces/footer.ejs')%>
	</div>
</body>
</html>