<!DOCTYPE html>
<html>
<head>
	<%- include('../pieces/head-content.ejs') %>
	<link type = 'text/css' rel = 'stylesheet' href = '/css/chat-style.css'/>
	<% if(locals.user) { %>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>

	<% } %>
</head>
<body id = 'body'>
	<div id = 'pageContainer'>
		<div id = 'contentWrap'>
			<%- include('../pieces/menu.ejs') %>
			<% if(!locals.user) { %>
				<i class="fa fa-ban" aria-hidden="true"></i>
				<p class = 'unregistered'> Sorry, but you can't access the chat if you're not logged in ! </p>
				<p class = 'mention'> You can log in by clicking <a href = 'javascript:void(0)' onclick = 'displayLoginForm()'> here </a> </p>
				<p class = 'mention'> If you don't have an account you can register by clicking <a href = '/register'> here </a> </p>
			<% } else { %>
				<p class = 'title'> Start chatting right with just the click of a button ! </p>
				<img src = '/img/socializing.jpg' class = 'wide-image'/>
				<button class ='startChat' onclick = 'startChat()'> <span>Start Chatting </span></button>
				
					
					<p class ='subtitle'> How does it work <i class="fa fa-question-circle-o" aria-hidden="true"></i> </p>

					<p class = 'explain'> Our platform randomly picks an available person looking to chat. The more you have in common with someone, the higher the chances to talk to that person. Once you find a match, you can start talking anonimously. If you feel like the person you're talking to has "friend potential" you can make your profile public to them.</p>
					<p class = 'subtitle'> Is it safe <i class="fa fa-lock" aria-hidden="true"></i> ? </p>
					<p class ='explain'> Our platform grants our users that their personal data is safe. However, we are not responsible if our users share their data carelessly with other users </p>
					<p class = 'subtitle'> Lorem ipsum <i class="fa fa-book" aria-hidden="true"></i> ? </p>
					<p class = 'explain'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non sem nisi. Etiam ut lorem tristique, lacinia nisi eget, aliquet lorem. Duis accumsan odio eget consequat vulputate. Vivamus porta enim lacus, vel ornare risus dictum ut. Nunc tincidunt nisl vitae massa rutrum facilisis. Nulla in venenatis nisi, at lobortis libero. Nullam faucibus lectus enim. Phasellus id erat accumsan, aliquet risus et, mattis eros. Vivamus eget orci malesuada sem euismod tristique accumsan rhoncus dui. Etiam tincidunt in metus id pharetra. Etiam sollicitudin sollicitudin enim quis rhoncus. Sed blandit urna eu dolor ornare, id dignissim nisl congue. Vestibulum tincidunt, mi quis auctor lacinia, lectus nunc luctus lorem, a facilisis nibh tellus eget risus. In condimentum feugiat ipsum eget ultrices. Donec sagittis sem et libero commodo, eu ullamcorper erat porttitor.</p>
				

			<% } %>
		</div>
		<%- include('../pieces/footer.ejs') %>
	</div>
	<script type = 'text/javascript' src = '/js/chat.js'></script>
</body>
</html>