<!DOCTYPE html>
<html>
<head>
	<%-include('../pieces/head-content.ejs') %>
	<link rel ='stylesheet' type ='text/css' href = '/css/confirm-style.css'/>
</head>
<body id = 'body'>
	<div id = 'pageContainer'>
		<%-include('../pieces/menu.ejs') %>
		<div id = 'contentWrap'>
			
			<h1> Your account has been succesfully registered ! </h1>
			<p> Complete your profile <a href = 'javascript:void(0)' onclick = 'displayLoginForm()'> here </a> </p>
		</div>
		<%-include('../pieces/footer.ejs')%>
	</div>
</body>
</html>