<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
  	<meta name="description" content="A free chat platform for socializing and finding new friends anonimously">
  	<meta name="keywords" content="friends, chat">
  	<meta name="author" content="Baesu Rares">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link  type = 'text/css' rel ='stylesheet' href = 'css/style.css'/>
	<script type ='text/javascript' src = '/js/home.js'> </script>
</head>
<body>
	<div class = 'banner'>
		<div class='text'>
			<span class ='letter firstHalf'>F</span>
			<span class ='letter firstHalf'>r</span>
			<span class ='letter firstHalf'>i</span>
			<span class ='letter firstHalf'>e</span>
			<span class ='letter firstHalf'>n</span>
			<span class ='letter secondHalf'>d</span>
			<span class ='letter secondHalf'>s</span>
			<span class ='letter secondHalf'>h</span>
			<span class ='letter secondHalf'>i</span>
			<span class ='letter secondHalf'>p</span>
		</div>
	</div>

	<p class ='caption'> The oportunity to find new friends at your fingertips ! </p>

	<div class = 'flex'>
		<div style='background-color:#aff0c0'>
			<div class = 'textWrap'>
				<p> Who are we ? </p>
				<p> A bunch of creative and energetic guys. </p>
			</div>
		</div>
		<div>
			<img src = '/img/csstudent.jpg'/>
		</div>



		<div>
			<img src = '/img/sad.jpg' />
		</div>
		<div style='background-color:#66b8ff'>
			<div class = 'textWrap'>
				<p> What do we want ? </p>
				<p> In a world where we are connected more than ever before, we are also lonelier (paradoxically). Social anxiety is all around us and we want to make a change, so we came up with this idea. We want to make people happy by finding new friends and by socializing. </p>
			</div>
		</div>

		<div style='background-color:#ede264'>
			<div class = 'textWrap'>
				<p> How are we going to achieve it ? </p>
				<p> We created this platform to help people with social anxiety to find other people with similar interests and overcome their dificulties when it comes to social interaction.</p>
			</div>
		</div>
		<div>
			<img src = '/img/lonely.jpg'/>
		</div>
	</div>

	<p class = 'caption'> So what do you have to do ? </p>
	<button class = ''> </button>
	<footer>
		Just some content to add later
	</footer>
</body>
</html