<!DOCTYPE html>
<html>
<head>
	<link rel ='stylesheet' href = 'css/style.css'/>
</head>
<body>
	<div class = 'banner'>
		<div class='text'>
			<span class ='letter'>F</span>
			<span class ='letter'>r</span>
			<span class ='letter'>i</span>
			<span class ='letter'>e</span>
			<span class ='letter'>n</span>
			<span class ='letter'>d</span>
			<span class ='letter'>s</span>
			<span class ='letter'>h</span>
			<span class ='letter'>i</span>
			<span class ='letter'>p</span>
		</div>
	</div>

	<footer>
		Just some content to add later
	</footer>
</body>
</html