<footer>
	<div class ='textWrap'>
		<p> Contact us </p>
		<span class ='icon'><a href ='javascript:void(0)'><i class="fa fa-facebook-official" aria-hidden="true"></i></a></span>
		<span class ='icon'><a href ='javascript:void(0)'><i class="fa fa-instagram" aria-hidden="true"></i></a></span>
		<span class ='icon'><a href ='javascript:void(0)'><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></span>
		<span class ='icon'><a href ='javascript:void(0)'><i class="fa fa-github" aria-hidden="true"></i></a></span>
		<p>&#169 Baesu Rares Gabriel, personal project</p>
		<p>I do not own any of the images shown in this website, I do not make any profit out of it.</p>
	</div>
</footer>