<footer>
	<div class ='textWrap'>
		<p> Contact us </p>
		<span class ='icon'><a target = '_blank' href ='https://www.facebook.com/raresgabriel.baesu/'><i class="fa fa-facebook-official" aria-hidden="true"></i></a></span>
		<span class ='icon'><a  target = '_blank' href ='https://www.instagram.com/rares.01/'><i class="fa fa-instagram" aria-hidden="true"></i></a></span>
		<span class ='icon'><a target = '_blank' href ='https://www.linkedin.com/in/băeşu-rareş-gabriel-162a9a1a3/'><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></span>
		<span class ='icon'><a target = '_blank' href ='https://github.com/raresGabriel01'><i class="fa fa-github" aria-hidden="true"></i></a></span>
		<p> <i class="fa fa-envelope" aria-hidden="true"></i> baesu_r@yahoo.com </p>
		<p><i class="fa fa-envelope" aria-hidden="true"></i> rares01gabi@gmail.com </p>
		<p> <i class="fa fa-whatsapp" aria-hidden="true"></i> +40 748 081 287 </p>
		<p>&#169 Baesu Rares Gabriel, personal project</p>
		<p>I do not own any of the images shown in this website, I do not make any profit out of it.</p>
	</div>
</footer>