<ul id = 'menu'>
	<li><a href = '/'> <i class="fa fa-home" aria-hidden="true"></i> Home </a> </li>
	<li><a href = '/chat'>  <i class="fa fa-comments-o" aria-hidden="true"></i> Chat </a> </li>
	<li id ='myAccount' onclick = 'displayLoginForm()'><a href = 'javascript:void(0)'><i class="fa fa-user-circle" aria-hidden="true"></i> My Account </a> </li>
</ul>